name: Master Deploy

on:
  push:
    tags:
      - 'v*'

jobs:
  coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup environment (coverage)
        uses: ./.github/actions/setup-env
        with:
          python-version: "3.10"
          install-flags: "--all-extras"

      - name: Run tests with coverage
        run: |
          poetry run coverage run -m pytest
          poetry run coverage report
          poetry run coverage xml

      - name: Upload coverage to Codecov
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        run: bash <(curl -s https://codecov.io/bash) -t $CODECOV_TOKEN -f coverage.xml

  deploy-prod:
    needs: coverage
    runs-on: ubuntu-latest
    env:
      POETRY_PYPI_TOKEN_PYPI: ${{ secrets.PYPI_API_TOKEN }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup environment (deploy)
        uses: ./.github/actions/setup-env
        with:
          python-version: "3.10"
          install-flags: "--all-extras"

      - name: Configure PyPI
        run: |
          poetry config repositories.pypi https://upload.pypi.org/legacy/
          poetry config pypi-token.pypi $POETRY_PYPI_TOKEN_PYPI

      - name: Publish to PyPI
        run: |
          poetry build
          poetry publish

  docs:
    needs: deploy-prod
    uses: ./.github/workflows/docs.yml
    with:
      version: ${{ github.ref_name }}
